include README.rst
include LICENSE.txt
recursive-include rainbowalga/images *
recursive-include rainbowalga/data *
recursive-include docs *
recursive-exclude docs *.pyc
recursive-exclude docs *.pyo
recursive-include config *
prune docs/_build
